global_defs {
  max_auto_priority 99
}

vrrp_instance VI_loadbalancer {
  state {{ vm_type | default('master') | upper }}
  interface {{ interface | default('eth0') }}
  virtual_router_id {{ virtual_router_id }}
  priority {{ priority }}
  advert_int {{ advert_int | default(2) }}
  authentication {
    auth_type {{ auth_type }}
    auth_pass {{ ansible_password | truncate(8, True, '') | upper }}
  }
  unicast_src_ip {{ ansible_host }}
  unicast_peer {
    {{ unicast_peer_ip }}
  }
  virtual_ipaddress {
    {{ virtual_ipaddress }}
  }
}
